:root {
  --primary: #39a9db;
  --white: #fdfdfd;
  --no: transparent;
}

.btn {
  /* font-family: "Roboto", sans-serif;
  font-weight: 400; */
  /* border-radius: 50px; */
  cursor: pointer;
  line-height: 52px;
  vertical-align: middle;
  transition: transform 0.2s ease-out;
}

.btn:hover {
  transform: scale(1.2);
}

/* Button Colors and Styles */

.btn-no-padding {
  background-color: var(--no);
  border: none;
}

/* Button Size */

.btn--medium {
  /* padding: 10px 20px; */
  font-size: 18px;
}

.btn--large {
  /* padding: 15px 30px; */
  font-size: 20px;
}
