.flip-card {
  display: flex;
  flex: 1;
  width: 342px;
  height: 342px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-wrap {
  display: flex;
  flex: 1;
  width: 223px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s cubic-bezier(0.87, 0.19, 0.15, 0.92);
  transform-style: preserve-3d;
  border-radius: 24px;
}

.flip-card-img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-wrap:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back-quote,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0px 8px 32px #f4cf47;
  padding: 16px;
}

/* Style the back side */
.flip-card-back {
  background-color: #3c61ed;
  color: white;
  transform: rotateY(180deg);
  border-radius: 24px;
  padding: 32px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  white-space: pre-line;
}

.flip-card-back-quote {
  background-color: #3c61ed;
  color: white;
  transform: rotateY(180deg);
  border-radius: 24px;
  padding: 32px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
