.App {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.App-content {
  width: 1000px;
  z-index: 2;
  position: relative;
}

.App-headline-wrapper {
  padding-top: 15%;
  padding-left: 10%;
}

.App-headline {
  line-height: 60px;
  color: #1c1c1c;
}

.App-avatar {
  height: 48px;
  border-radius: 50px;
  vertical-align: middle;
  margin-left: 12px;
  margin-right: 12px;
}

.App-highlight {
  position: absolute;
  left: 567px;
  top: 153px;
  opacity: 0.3;
  width: 51px;
  height: 51px;
  border-radius: 100px;
  border: 4px solid rgba(0, 0, 0, 0.5);
}

.App-world {
  height: 52px;
  vertical-align: middle;
  margin-left: 8px;
  margin-right: 8px;
}

.App-year-1 {
  font-size: 450px;
  color: #fff;
  font-family: "Poppins";
  font-weight: 900;
  transform: rotate(90deg);
  opacity: 0.5;
}

.App-year-2 {
  font-size: 450px;
  color: #fff;
  font-family: "Poppins";
  font-weight: 900;
  transform: rotate(90deg);
  position: absolute;
  top: 260px;
  right: 370px;
  opacity: 0.5;
}

.App-title-eng {
  font-size: 14px;
  color: #1c1c1c;
  font-family: "Poppins";
  font-weight: 800;
  transform: rotate(90deg);
}

.App-title-jap {
  width: 20px;
  font-size: 14px;
  color: #1c1c1c;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1;
  position: absolute;
  top: -67px;
  right: 95px;
}

.App-arrow-long {
  position: absolute;
  top: 40%;
  right: 115px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-highlight {
    animation: App-highlight infinite 3s ease-in-out;
  }
}

@keyframes App-highlight {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
